<header>
  <div class="container">
    <div class="row">
      <div class="col row align-items-center">
        <img (click)="logoClick()" class="logo col-auto" src="../assets/img/SpotipocheLogo.png" alt="logo">
        <h4 class="col">Super musique Infinie</h4>
      </div>
      <div class="lang col-auto">
        <button (click)="useLanguage('fr')" *ngIf='translate.currentLang == "en"'>français</button>
        <button (click)="useLanguage('en')" *ngIf="translate.currentLang == 'fr'|| translate.currentLang == undefined">
          english
        </button>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
