<ng-form class="row align-content-center align-items-center px-2">
  <h1 class="col">Artistes</h1>
  <input class="form-control col mx-5" [(ngModel)]="this.newArtist" placeholder="Nouvel artiste" name="artist_name">
  <button class="btn btn-primary col" (click)="AddArtist(newArtist)">Ajouter</button>
</ng-form>

<div class="cards">
  <span *ngFor="let item of this.lstArtists; let i = index">
    <div class="card" *ngIf="swirl[i]" [class.roll-in-top]="swirl[i]">
      <h3>{{item.name}}</h3>
      <img src="{{item.img}}" alt="img Artiste">
      <ng-form class="row boutons">
        <a class="btn btn-primary col" href="{{item.name}}/{{item.id}}/albums">Albums</a>
        <a class="btn btn-primary col" href="{{item.name}}/concerts">Concerts</a>
      </ng-form>
    </div>
  </span>
</div>

